<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<ul class ="form">
	<% form_for([@user,@holiday], :html => {:class => 'user_form'}) do |f| %>
	<li><%= f.label 'Leave Type'%></li>
	<li><%= f.select(:leave_type, Holiday.get_holiday_types, 
						:selected => @holiday.leave_type.to_s )%></li>

	<li></li>
	<li></li>
	<li></li>

	  <%= f.error_messages %>

	    <%= f.submit "Update" %>
	<% end %>
	</ul>
	
</div><!--end center-->

