/*******    Atoms 			*/

body {
	padding:0;
	margin:0;
	background-color:#9D9B8B;
	font-family:helvetica;
	
}
a	{
	font-size:13px;
	color:#565656;
}
h1{
}
h2 {
	font-size:15px;
}
img {
	border:none;
}
form {
  margin-left:15px;
  font:16pt Times;
}
label {
  float: none;
  text-align:left;
  display:block;
  color: gray;
  font: 20px Arial;
	margin-top:10px;
}
fieldset{
	border:none;
}
td {
	margin-left:10px;
}
/*******    Structure 			*/
#header {
	width:100%;
	height:100px;
	background-color: #2C211B;
}
#header img{
	margin-left:2em;
}
#header a img{
	border:none;
	text-decoration:none;
}
#info_bar {
	width: 1000px;
	height:50px;
	background: #7E71D1;
	text-align:center;
}
.info_navigation {
	width: 1000px;
	background: #7E71D1;
	text-align:center;
}
.info_navigation ul {
	width:400px;
	margin:0 auto;
	padding:0;
	background-color:#DCB066;	
	text-align:center;
	padding:10px;
}
.info_navigation li {
	padding-left:1em;
	padding-right:1em;
	list-style:none;
	display:inline;
}

.info_navigation ul li a {
	text-decoration:none; 
	font-family:arial;
	font-size:16pt;
	color:#ffffff;
}
.info_navigation a:hover{
	text-decoration:underline;
	color:gray;
}

#container {
	width: 1000px;
	min-height:600px;
	margin:0 auto;
	background-color: #DEDEDE;
	color: #333;
}

#center {
	position:relative;
	width:500px;
	margin-left: 250px;
}
#left {
	float: left;
	width: 200px;
	margin-top:2em;
	padding: 1em;
}
#right {
	float: right;
	width: 200px;
	margin-top:2em;
	padding: 1em;
}
#footer {

}
#waiting_divs {
	position:absolute;
	top:100px;
	padding:15px;
	background:#616161;
	margin-left:200px;
}
.inside_waiting_div {
	position:relative;
	background-color:#DEDEDE;
	min-height:300px;
	padding-bottom:25px;
	margin:0 auto;
}
#waiting_divs .close a {
	position:absolute;
	height:20px;
	width:100%;
	bottom:0;
	padding-top:3px;
	padding-bottom:3px;
	text-align:right;
	border-top:2px solid white;
	background-color:#414141;
	color:white;
	font-size:16pt;
}
.navigation {
	padding-top:3em;
	margin-bottom:2em;
	
}
.navigation a {
	font-size:1.3em;
	color:gray;
	text-decoration:none;
}
.navigation a:hover {
	font-size:1.3em;
	color:green;
	text-decoration:none;
}

/************** 				Special      */

.protip{
	background-color:#F3ECBA;
	padding:5px;

}
.protip h3 {
	font-size:15px;
}
.protip ul {
}
.protip li {
	font-size:13px;
}

/************** 				Errors      */
.fieldWithErrors {
  padding:2px;
  background-color:#B23E32;
  display: table;
}

#errorExplanation {
  width:100%;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  background-color:#B23E32;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
	text-decoration:none; 
}
#errorExplanation li {
	font-size: 16pt;	
	color:#FFFFCE;
	padding:2px;
}

