/* Class = show. This is for general forms in any show action */

ul.show {
	list-style:none;
	text-decoration:none;
	min-width:30em;
	margin-left:0;
	padding-left:0;
}
ul.show li {
	width:auto;
	padding:.5em;
	color:white;
	background-color:#584E4E;
}
li:hover.true {
	background-color:green;
}
li:hover.false {
	background-color:red;
}