body {
	padding:0;
	margin:0;
	background-color:#9D9B8B;
	font-family:helvetica;
	
}

h1 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover {
	color:green;
}

a.ast {
	font-family:times;
	color:green;
	padding-top:10px;
	font-size:3em;
	float:left;
}

#show_holiday_details {
	background-color:grey;
	margin-left:1em;
	margin-right:1em;
}

#header {
	width:100%;
	height:150px;
	background-color: #2C211B;
}
#header img{
	margin-left:2em;
}
#header a img{
	border:none;
	text-decoration:none;
}
#info_bar {
	width:800px;
	height:50px;
	background: #7E71D1;
	text-align:center;
}
.info_navigation {
	width:800px;
	background: #7E71D1;
	text-align:center;
}
.info_navigation ul {
	width:400px;
	margin:0 auto;
	padding:0;
	background-color:#DCB066;	
	text-align:center;
	padding:10px;
}
.info_navigation li {
	padding-left:1em;
	padding-right:1em;
	list-style:none;
	display:inline;
}

.info_navigation ul li a {
	text-decoration:none; 
	font-family:arial;
	font-size:16pt;
	color:#ffffff;
}
.info_navigation a:hover{
	text-decoration:underline;
	color:gray;
}

#container {
	width: 800px;
	margin:0 auto;
	background-color: #DEDEDE;
	color: #333;
}

#center {
	position:relative;
	width:500px;
	margin-left: 200px;
	padding: 1em;
}
#waiting_divs {
	position:absolute;
	top:155px;
	padding:15px;
	background:#616161;
}
.inside_waiting_div {
	position:relative;
	background-color:#2E306B;
	min-height:300px;
	width:770px;
	padding-bottom:25px;
}
#waiting_divs .close a {
	position:absolute;
	height:20px;
	width:100%;
	bottom:0;
	padding-top:3px;
	padding-bottom:3px;
	text-align:right;
	border-top:2px solid white;
	background-color:#414141;
	color:white;
	font-size:16pt;
}
#center h1 {
	font-size:14pt;
}
#center h2 {
	color:gray;
	font-size:9pt;
}
#left {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;
}
#right {
	float: right;
	width: 250px;
	margin: 0;
	padding: 1em;
}
#footer {

}
.page_object {
	border: 1px solid black;
}
.tips h3 {
	font-weight:bold;
	font-color:#382D24;
	font-size:1.9em;
}
.tips ul {
	list-style:none;
	text-decoration:none;
}
.tips li {
	padding:.3em;
	font-size:.95em;
}

.navigation {
	padding-top:3em;
	margin-bottom:2em;
	
}
.navigation a {
	font-size:1.3em;
	color:gray;
	text-decoration:none;
}
.navigation a:hover {
	font-size:1.3em;
	color:green;
	text-decoration:none;
}


.fieldWithErrors {
  padding:2px;
  background-color:#B23E32;
  display: table;
}

#errorExplanation {
  width:100%;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  background-color:#B23E32;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
	text-decoration:none; 
}
#errorExplanation li {
	font-size: 16pt;	
	color:#FFFFCE;
	padding:2px;
}

