table.index_table {
	font-family: Arial;
	background-color:#99CCff;
	width:100%;
}
table.index_table th{
	background-color:#333333;
	color:#FFFFFF;
	font-weight:normal;
}
table.index_table td {
font-size: 12pt;
font-color: #000;
background-color: #99CCff;
border: solid 1px #666666;
width:auto;
}
table.index_table caption {
	background-color: #99CCff;
	font-weight:bold;
}
table.show_table {
	
}
table.show_table th {
	
}
table.show_table td {
	
}