<ul class="show">
	<% user.holidays.each do |holiday|%>
		<% if holiday.state.zero?%>
		<li>
		<%= length_of_holiday_in_words( holiday) %>
		Starting on <%= holiday.begin_time%>
		</li>
		<% end %>
	<% end %>
</ul>
