<table id='users_index_table' class="tablesorter">
<caption> used / available </caption>
<thead>
<tr>
  <th>Login</th>
	<% @users.first.get_taken_holiday_time.each do |key,value|%>
		<th><%= key %> </th>
	<% end %>
</tr>
</thead>
<tbody>
<% for user in @users %>
<tr>
    <td><%= link_to "#{user.login}",edit_user_path(user) %></td>
	<% user.get_taken_holiday_time.each do |key,value|%>
		<td><%= value %> / <%= user.send("max_#{key}")%> </td>
	<% end %>
</tr>

<% end %>
</tbody>
</table>