<table class="index_table">
  <tr>
    <th>Login</th>
	<% Holiday.get_holiday_types.each do |type|%>
		<th><%= type %></th>
	<% end %>

  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to "#{user.login}",edit_user_path(user) %></td>
	<% user.get_remaining_holiday_time.each do |key,value|%>
		<td><%= value %> / <%= user.send("max_#{key}")%> </td>
	<% end %>
</tr>
<% end %>
</table>
